* {
    padding-left: 0.1%;
    background-color: #2f3e4e;
    color: #F0EFF5;
    font-family: Noto Sans;
    
    
}

.damllogo{
    float:left;
}

#header, .footer {
    padding-bottom: 20px;
   
    background-color: #1e2c3a !important;
}



.home{
    height: 100%;
}
